includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/nesbot/carbon/extension.neon

parameters:
  level: 6
  paths:
    - app
    - database
  tmpDir: storage/phpstan

  ignoreErrors:
    - '#Call to an undefined method Illuminate\\Support\\Collection::<.*>#'
    - '#Access to an undefined property Illuminate\\Http\\Request::#'